{% extends 'dean_view/layout.html' %} {% load static %} {% block title %}
<title>Overload - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Overload</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    <div class-="row px-4 text-center">
      <div class="card-header">
        <i class="fa-solid fa-school me-1"></i>
        Overload Overview
      </div>
      <div class="card mb-4">
        <div class="tex mt-4 mb-4">
          <div class="container mb-5">
            <table id="datatablesSimple">
              <thead>
                <tr>
                  <th>Student ID</th>

                  <th>Current Credit Hours</th>
                  <th>Requested Credit Hours</th>

                  <th>CGPA</th>

                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                {% for overload in overloads %}
                <tr>
                  <td>{{ overload.student_id }}</td>
                  <td>{{ overload.student.current_credits}}</td>

                  <td>{{overload.additional_courses}}</td>
                  <td>{{ overload.student.cgpa }}</td>

                  {% if overload.state == 'Posted' %}
                  <td>
                    <div class="d-flex flex-row">
                      <a
                        href="{% url 'dean:overload_action' overload.overload_id 'Accepted' %}"
                        ><button class="btn btn-primary me-3">
                          <i class="fa-solid fa-correct me-1"></i></button
                      ></a>
                      <a
                        href="{% url 'dean:overload_action' overload.overload_id 'Rejected' %}"
                        ><button class="btn btn-danger">
                          <i class="fa-solid fa-cancel me-1"></i></button
                      ></a>
                    </div>
                  </td>
                  {% else %}
                  <td>{{overload.state}}</td>

                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Modal -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
