{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Academic Record - PetERP</title>
{% endblock %} {% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Academic Records</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

  
     
      
        
    
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Academic Records
          </div>
          <div class="card-body">
    
    
            <span class="h2 text-muted" >Term</span>
            <hr class="divider"/>
            <ol class="list-group list-group-numbered">
    
                {% for session in academic_records %}
                <a href="{% url 'semester_records' session %}">
                  <li class="">
                        <span class="h5  text-decoration-none text-dark">{{ session }}</span>
                        
                      </li>
                      
                    
                  
                    </a>
                   
                    
                    <div class="row">
                      <div class="col">
                      <h6 class="">Credits</h6>
                      <p class="text-muted">1</p>
                      </div>
                      <div class="col">
                        <h6 class="">GPA</h6>
                        <p class="text-muted">1</p>
                        </div>
                        <div class="col">
                          <h6 class="">CGPA</h6>
                          <p class="text-muted">1</p>
                          </div>
                    </div>
                    <hr class="divider"/>
                    
                    {% endfor %}

                  </tbody>
                </ol>
              </div>
            </div>
          
          </div>
        </main>
     
{% endblock %}