{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Academic Record Template - PetERP</title>
{% endblock %} {% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Academic Records</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="{% url 'academic_records' %}">Academics</a></li>
      <li class="breadcrumb-item active">Fall 2022</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Fall 2022
      </div>
      <div class="card-body">
        <div class="card-body p-4">
          <h6>Information</h6>
          <hr class="mt-0 mb-4" />
          <div class="row pt-1">
            <div class="col-6 mb-3">
              <h6>Term</h6>
              <p class="text-muted">{{ session }}</p>
            </div>
            <div class="col-6 mb-3">
              <h6>ID</h6>
              <p class="text-muted">{{student_data.student_id}}</p>
            </div>
            <div class="col-6 mb-3">
              <h6>Academic Standing</h6>
              {% if student_data.cgpa >= 2 %}
              <p class="text-success">Good Standing</p>
              {% else %}
              <p class="text-danger">Bad Standing</p>
              {% endif %}
            </div>
            <div class="col-6 mb-3">
              <h6>Honors</h6>
              <p class="text-muted">{{session_data.honors}}</p>
            </div>
          </div>
          
        <h6>Institution Credit</h6>
        <hr class="mt-0 mb-4" />
        <table class="table table-striped table-hover" style="border: 3px solid black">
          <thead>
            <tr>
              <th class="text-center">Course</th>
              <th class="text-center">Title</th>
              <th class="text-center">Grade</th>
              <th class="text-center">Credit Hours</th>
              <th class="text-center">Repeat</th>
            </tr>
          </thead>
          <tbody>
            {% for course in data %}
            <tr>
              <td class="text-center">{{ course.course_code }}</td>
              <td class="text-center">{{ course.title }}</td>
              <td class="text-center">{{ course.grade }}</td>
              <td class="text-center">{{ course.credit_hours }}</td>
              <td>-</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="card-body p-4">
          <h6>Current Term</h6>
          <hr class="mt-0 mb-4" />
          <div class="row pt-1">
            <div class="col-6 col-md-4 mb-3">
              <h6>Attempted Hours</h6>
              <p class="text-muted">{{ session_data.attempted_hours }}</p>
            </div>
            <div class="col-6 col-md-4 mb-3">
              <h6>Quality Points</h6>
              <p class="text-muted"> {{ session_data.quality_points }}</p>
            </div>
            <div class="col-6 col-md-4 mb-3">
              <h6>Passed Hours</h6>
              <p class="text-muted">{{ session_data.earned_hours }}</p>
            </div>

            <div class="col-6 col-md-4 mb-3">
              <h6>Earned Hours</h6>
              <p class="text-muted">{{ session_data.earned_hours }}</p>
            </div>
            <div class="col-6 col-md-4 mb-3">
              <h6>Honors</h6>
              <p class="text-muted">{{ session_data.honors }}</p>
            </div>
            <div class="col-6 col-md-4 mb-3">
              <h6>GPA</h6>
              <p class="text-muted">{{ session_data.gpa }}</p>
            </div>
          </div>
          <h6>Cumulative</h6>
          <hr class="mt-0 mb-4" />
          <div class="row pt-1">
            <div class="col-6 col-md-4 mb-3">
              <h6>Attempted Hours</h6>
              <p class="text-muted">{{ student_data.attempted_hours }}</p>
            </div>
            <div class="col-6 col-md-4 mb-3">
              <h6>Quality Points</h6>
              <p class="text-muted">{{ student_data.quality_points | floatformat:2 }}</p>
            </div>
            <div class="col-6 col-md-4 mb-3">
              <h6>Passed Hours</h6>
              <p class="text-muted">{{ student_data.earned_hours }}</p>
            </div>

            <div class="col-6 col-md-4 mb-3">
              <h6>Earned Hours</h6>
              <p class="text-muted">{{ student_data.earned_hours }}</p>
            </div>
            <div class="col-6 col-md-4 mb-3">
              <h6>Current year</h6>
              {% if student_data.year == 2 %}
              <p class="text-muted">{{ student_data.year }}nd Year Student</p>
              {% elif student_data.year == 1 %}
              <p class="text-muted">{{ student_data.year }}st Year Student</p>
              {% elif student_data.year == 3 %}
              <p class="text-muted">{{ student_data.year }}rd Year Student</p>
              {% else %}
              <p class="text-muted">{{ student_data.year }}th Year Student</p>
              {% endif %}
            </div>
            <div class="col-6 col-md-4 mb-3">
              <h6>CGPA</h6>
              <p class="text-muted">{{ student_data.cgpa |floatformat:2 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
