{% extends 'student_view/layout.html' %}
{% load static %}

    {% block title %}
    <title>Academic Record - PetERP</title>
    {% endblock %}

{% block body %}
<main>
  <div class="container-fluid px-4">
      <h1 class="mt-4">Academic Records</h1>
      <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Academics</li>
      </ol>
      
      <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Academic Records
          </div>
          <div class="card-body">
            
            
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">Term</th>
                  
                </tr>
              </thead>
              
                <tr>
                  <th scope="row">Fall 2022</th>
                  
                </tr>
                <tr>
                  <th scope="row">Fall 2022</th>
                  
                </tr>
                <tr>
                  <th scope="row">Fall 2022</th>
                  
                </tr>
                <tr>
                  <th scope="row">Fall 2022</th>
                  
                </tr>
                <tr>
                  <th scope="row">Fall 2022</th>
                  
                </tr>
                
              </a>
                </tbody>
                
              </tbody>
            </table>
          </div>
      </div>
  </div>
</main>

{% endblock %}
