{% extends 'student_view/layout.html' %}
{% load static %} 
{% load humanize %}
{% block title %}
<title>Accounting - PetERP</title>
{% endblock %} 

{% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Accounting</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
      <li class="breadcrumb-item active">Student</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Student Financial Records
      </div>
      <div class="card-body">
        <div class="card-body p-4">
          <h6>Information</h6>
          <hr class="mt-0 mb-4" />
          <div class="row pt-1">
            <div class="col-6 mb-3">
              <h6>Name</h6>
              <p class="text-muted">{{ student_data.name }}</p>
            </div>
            <div class="col-6 mb-3">
              <h6>ID</h6>
              <p class="text-muted">{{student_data.student_id}}</p>
            </div>
          </div>
          <h6>Financial Information</h6>
          <hr class="mt-0 mb-4" />
          <div class="row pt-1">
            <div class="col-6 mb-3">
              <h6>Balance</h6>
              <p class="text-muted">&#8358 {{balance | intcomma}}</p>
            </div>
            <div class="col-6 mb-3">
              <h6>Status</h6>
              <p class="text-muted">Cleared</p>
            </div>
          </div>
        </div>

        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Type</th>
              <th>Description</th>
              <th>Term</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
            {% for transaction in transactions %}
            <tr>
              <td>{{transaction.transaction_type}}</td>
              <td>{{ transaction.description }}</td>
              <td>{{transaction.session.semester}} {{ transaction.session.year }}</td>
              <td>{{transaction.amount | intcomma}}</td>
              <td>{{ transaction.date }}</td>
            </tr>
            {%empty%}
            <tr>
              <td colspan="5" class="text-muted text-center">No transactions on record</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
