{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>CGPA Calculator - PetERP</title>
{% endblock %} {% block body %}
<main>
  <body ng-app="cgpaCalculator">
    <div class="container" ng-controller="cgpaCtrl">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <form name="cgpaForm" id="main-container">
          <h3 class="title">
            GRADE SCALE: 4.00
            <a
              class="btn default pull-right"
              ng-click="reset()"
              title="Click to reset form!"
            >
              <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
            </a>
          </h3>

          <div class="row mx-4 text-center">
            <div class="col">
              <label for="cgpa">Current CGPA:</label>
              <p class="lead text-center">1</p>
            </div>
            <div class="col">
              <label for="cgpa">Credit Earned</label>
              <p class="lead text-center">2</p>
            </div>
          </div>

          <fieldset>
            <div class="row">
              <div class="form-row title-bar">
                <div class="col-lg-5 col-md-3 col-sm-4 col-xs-4">
                  <p>Course</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <p>Credit Hours</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <p>Grade</p>
                </div>
              </div>
            </div>

            <div class="row" ng-repeat="number in data.rows track by $index">
              <div class="form-row input-row">
                <div class="col-lg-5 col-md-3 col-sm-4 col-xs-4">
                  <input
                    type="text"
                    class="form-control"
                    ng-model="data.rows[$index].course"
                    placeholder="E.g. AUN 101"
                  />
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <select
                    class="form-control"
                    ng-model="data.rows[$index].hour"
                    ng-options="hour for hour in creditHours track by hour"
                  >
                    <option value="" disabled selected>--</option>
                  </select>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <select
                    class="form-control"
                    ng-model="data.rows[$index].grade"
                    ng-options="grade for grade in grades track by grade"
                  >
                    <option value="" disabled selected>--</option>
                  </select>
                </div>

                <div class="col-lg-1 pull-right btn-cont">
                  <a
                    class="btn primary"
                    ng-click="data.rows.splice($index, 1)"
                    ng-show="data.rows.length > rowsInfo.min"
                    title="Click to delete row!"
                  >
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-row">
                <div class="col-lg-1 btn-cont pull-right">
                  <a
                    class="btn default"
                    ng-click="data.rows.push(null)"
                    ng-show="data.rows.length < rowsInfo.max"
                    title="Click to add row!"
                  >
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="bottom-content">
            <div class="row">
              <div class="form-row title-bar col-bar">
                <div class="col-lg-4 col col-xs-4 text-center">
                  <p class="uppercase">Total Credits</p>
                  <div class="content-value">
                    <span>{{ result.totalCredits }}</span>
                  </div>
                </div>
                <div class="col-lg-4 col col-xs-4 text-center">
                  <p class="uppercase">gpa</p>
                  <div class="content-value">
                    <span>{{ result.gpa !== 'N' ? result.gpa : 0 }}</span>
                  </div>
                </div>
                <div class="col-lg-4 col col-xs-4 text-center">
                  <p class="uppercase">cgpa</p>
                  <div class="content-value">
                    <span>{{ result.cgpaCalculated || 0 }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-row title-bar col-bar score-bar">
                <div class="col-lg-12 col-lg-offset-0">
                  <p class="pull-left">Academic Standing:</p>
                  <p class="pull-right progress-value uppercase">
                    {{ result.gpaStanding }}
                  </p>
                  <div class="progress">
                    <div
                      class="progress-bar progress-bar-striped active {{ result.gpaProgressBar }}"
                      role="progressbar"
                      aria-valuenow="{{ result.gpaProgressBarWidth }}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      ng-style="{ width: (result.gpaProgressBarWidth + '%')}"
                    >
                      <span class="sr-only">{{ result.gpaStanding }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <fieldset>
            <div class="row">
              <div class="form-row">
                <div class="col-lg-6 col-xs-6">
                  <label for="cgpaExpected">I am currently taking:</label>
                  <p class="lead">1</p>
                </div>
                <div class="col-lg-6 col-xs-6">
                  <label for="currentCredits"
                    >I want to raise my CGPA to:</label
                  >
                  <input
                    id="currentCredits"
                    type="number"
                    class="form-control"
                    ng-model="data.cgpaExpected"
                    placeholder="E.g. 2.56"
                  />
                </div>
              </div>
            </div>
          </fieldset>

          <div class="bottom-content">
            <div class="row">
              <div class="form-row title-bar">
                <div class="col-lg-12 text-right gpa-expected">
                  <div class="content-value">
                    <p>
                      I should get a GPA of:
                      <span>{{ result.gpaExpected || 0 }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap.min.js"></script>
<script src=" {% static 'js/cgpaCtrl.js' %}"></script>
<script src="{% static 'js/cgpaFactory.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
