{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Home - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Home</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Student</li>
    </ol>

    <div class="row">
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fa fa-id-card me-1"></i>
            Student Information
          </div>
          <div class="card-body">
            <div class="row g-0">
              <div
                class="col-md-4 gradient-custom text-center text-white"
                style="
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                "
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar"
                  class="img-fluid my-3"
                  style="width: 80px"
                />
                <h5>{{ student_data.name }}</h5>

                <p>{{student_data.student_id}}</p>

                <a href="{% url 'student:profile' %}"
                  ><i class="mb-4 fas fa-expand fw-bold text-white"></i
                ></a>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Degree Information</h6>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Major</h6>
                      <p class="text-muted">{{ student_data.major }}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Status</h6>
                      <p class="text-muted">Year {{ student_data.year }}</p>
                    </div>
                  </div>
                  <h6>Personal Information</h6>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{ student_data.email }}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{ student_data.phone_number }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fa-solid fa-calendar-days me-1"></i>
            Calendar
          </div>
          <div class="card-body">
            <div class="card">
              <iframe
                src="https://embed.styledcalendar.com/#oX0BDCKxGnisPpKRX8Sa"
                title="Styled Calendar"
                class="styled-calendar-container"
                style="width: 100%; border: none"
                data-cy="calendar-embed-iframe"
              ></iframe>
              <script
                async
                type="module"
                src="https://embed.styledcalendar.com/assets/parent-window.js"
              ></script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fa fa-calendar me-1" aria-hidden="true"></i>
            Concise Schedule
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Course</th>
                  <th scope="col">Time</th>
                  <th scope="col">Location</th>
                </tr>
              </thead>
              <tbody>
                {% for course in concise_schedule %}
                <tr>
                  <th scope="row">{{course.course_code}}</th>
                  <td>{{course.time}}</td>
                  <td>{{course.location}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-bell me-1"></i>
            Messages
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                <label class="form-check-label" for="firstCheckbox">First checkbox</label>
              </li>
              <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
              </li>
              <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
