{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Override - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Override</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    <div class-="row px-4 text-center">
      <div class="card-header">
        <i class="fa-solid fa-school me-1"></i>
        Override History
      </div>
      <div class="card mb-4">
        <div class="tex mt-4 mb-4">
          <div class="container mb-5">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" class="">Section</th>
                  <th scope="col" class="">Type</th>
                  <th scope="col" class="">Status</th>
                  <th scope="col" class="">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for override in overrides %}
                <tr>
                  <th scope="col" class="">{{override.section_id}}</th>
                  <th scope="col" class="">{{override.override_type}}</th>
                  <th scope="col" class="">{{override.state}}</th>
                  <th scope="col" class="">{{override.date}}</th>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4" scope="col" class="text-center text-muted">
                    No overrides on record
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="text-center container">
            <a href="{% url 'new_override' %}" class="btn btn-primary">
              <i class="fa fa-add" aria-hidden="true"></i>
            </a>
          </div>

          <!-- Modal -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
