{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Overload - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Overload</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    
      
      <div class-="row px-4 text-center">

     
        <div class="card mb-4">
          
          <div class="card-body overflow-auto">
            <div class="row">

            <div class="col mb-4">
            <h3 class="lead">
              Current Course Load
             
            </h3>
            <div class="form-outline" style="width: 150px">
              <input
                class="form-control"
                id="formControlReadonly"
                type="text"
                value="6 Courses"
                aria-label="Course Load"
                readonly
              />
              
            </div>
          </div>
          <div class="col">
            <h3 class="lead">
              Requested Course Addition
             
              
            </h3>
            <div class="form-outline me-5" style="width: 150px">
              <input type="number" id="typeNumber" class="form-control" />
             
            </div>
          </div>
        </div>
      </div>
        <div class="text-center mt-4 mb-4">
      
           
          <div class="form-outline mx-5">
            <input class="form-control" id="textAreaExample" type="text" rows="4"></input>
            <label class="form-label" for="textAreaExample">Notes</label>
          </div>
          <div class="container mb-5">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="lead">Additional Courses Requested</th>
                <th scope="col" class="lead">Date</th>
                <th scope="col" class="lead">Status</th>
                <th scope="col" class="lead">Date</th>
                
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
          </div>
      <button type="button" class="btn btn-success me-5"><i class="fa-solid fa-floppy-disk"></i></button>
      <button type="button" class="btn btn-danger "><i class="fa fa-times" aria-hidden="true"></i></button>

                    <!-- Modal -->
                   
    
  

    
                  </div>
</main>
{% endblock %}
