{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Override - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Override</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    
      
      <div class-="row px-4 text-center">

     
        <div class="card mb-4">
          
          <div class="card-body overflow-auto">
            <div class="container mt-3">
              <div class="row">

            <div class="col mb-4">
            <h3 class="lead">
              Type of Override
             
            </h3>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Class Size Override
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Prerequisite Override
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Level Override
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Time-Conflict Override
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Min-Year Override
              </label>
            </div>
            
          </div>
          <div class="col">
            <h3 class="lead">
              Requested Course
             
              
            </h3>
            <div class="modal-container container  m-3">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="addModalTrigger"
                data-bs-target="#addmodal">
                <i class="fa-solid fa-add"></i> 
              </button>
      
              <!-- Modal -->
              <div class="modal fade" id="addmodal" tabindex="-1" data-bs-backdrop="static"  aria-labelledby="addModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
      
                  <div class="modal-content">
      
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Sections</h4>
                    </div>
      
                    <!-- Modal body -->
                    <div class="modal-body">
                      <div class="card-body">
      
      
                        <table id="datatablesSimple">
                          <thead>
                            <tr>
                              <th>CRN</th>
                              <th>Course Code</th>
                              <th>Course Title</th>
                              <th>Credit Hours</th>
                              <th>Capacity</th>
                              <th>Enrolled</th>
                              <th>Time</th>
                              <th>Faculty</th>
                              <th>Term</th>
                              <th>Location</th>
                              <th>Section Number</th>
                              <th> Add </th>
                            </tr>
                          </thead>
      
                          <tbody>
                            {% for section in sections %}
                              <tr>
                                <td>{{ section.section_id }}</td>
                                <td>{{ section.course_code }}</td>
                                <td>{{ section.title }}</td>
                                <td>{{ section.credit_hours }}</td>
                                <td>{{ section.capacity }}</td>
                                <td>{{ section.enrolled }}</td>
                                <td>{{ section.time }}</td>
                                <td>{{ section.faculty }}</td>
                                <td>{{ section.term }}</td>
                                <td>{{ section.location }}</td>
                                <td>{{ section.section_number }}</td>
                                <td><a href="{% url 'add_section' section.section_id %}"><button class="btn btn-primary">Add</button></a></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                   
      
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Modal -->
            </div> 
          </div>
          </div>
        </div>
      </div>
      <div class="container mb-5">
      <table class="table table-striped">
        <thead>
         
        </thead>
        <tbody>
          <tr>
            <td scope="col" class="lead">Course</td>
            <td scope="col" class="lead">ID</td>
            <td scope="col" class="lead">Status</td>
            <td scope="col" class="lead">Overload Type</td>
            <td scope="col" class="lead">Date</td>
            
            
          </tr>
          
        </tbody>
      </table>
      </div>
        <div class="text-center mt-4 mb-4">
      
           
          <div class="form-outline mx-5 mt-4">
            <textarea style="border: 1px solid black" class="form-control" id="textAreaExample" rows="4"></textarea>
            <label class="form-label" for="textAreaExample">Notes</label>
          </div>
          <div class="container mb-5">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="lead">Course</th>
                <th scope="col" class="lead">ID</th>
                <th scope="col" class="lead">Status</th>
                <th scope="col" class="lead">Overload Type</th>
                <th scope="col" class="lead">Date</th>
                
                
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
          </div>
      <button type="button" class="btn btn-success me-5"><i class="fa-solid fa-floppy-disk"></i></button>
      <button type="button" class="btn btn-danger "><i class="fa fa-times" aria-hidden="true"></i></button>

                    <!-- Modal -->
                   
    
  

    
                  </div>
</main>
{% endblock %}
