{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Overload - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Overload</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    
      
      <div class-="row px-4 text-center">
        <div class="card-header">
          <i class="fa fa-plus me-1"></i>
          Overload History
        </div>
     
        <div class="card mb-4">
          
      
        <div class="text-center mt-4 mb-4">
      
           
         
          
          <div class="container mb-5">
            
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="">Additional Courses Requested</th>
                <th scope="col" class="">Date</th>
                <th scope="col" class="">Status</th>
                <th scope="col" class="">Semester</th>
                
              </tr>
            </thead>
            <tbody>
              {% for overload in overloads %}
              <tr>
                <td scope="col" class="">{{ overload.additional_courses }}</td>
                <td scope="col" class="">{{ overload.date }}</td>
                <td scope="col" class="">{{ overload.state }}</td>
                <td scope="col" class="">{{ overload.session.semester }} {{ overload.session.year }}</td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          <div class="text-center mb-4">
            <div class="modal-container container text-center">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="addModalTrigger"
                data-bs-target="#addmodal">
                <i class="fa-solid fa-add"></i>
              </button>
      
              <!-- Modal -->
              <div class="modal fade" id="addmodal" tabindex="-1" data-bs-backdrop="static"  aria-labelledby="addModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
      
                  <div class="modal-content">
      
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">New Overload</h4>
                    </div>
      
                    <!-- Modal body -->
                    <form action="{% url 'student:overload' %}" method="post">
                      {% csrf_token %}
                      <div class="container">
                    <div class="modal-body card-body mb-4 container">
                          <div class="row">
                          <div class="col">
                            <table class="table table-borderless">
                              <tbody>
                                <tr>
                                  <td> <h6 class="">
                                    Current Course Load
                                   
                                  </h6></td>
                                </tr>
                                <tr>
                                <td align="center">
                                  <div class="form-outline" style="width: 150px">
                                    <input
                                      class="form-control text-center"
                                      id="formControlReadonly"
                                      type="text"
                                      value="{{ max_courses }}"
                                      aria-label="Course Load"
                                      readonly
                                    />
                                    
                                  </div>
                                </td>
                                

                                </tr>
                                </tbody>
                                </table>
                         
                          </div>
                          
                        
                        <input type="text" name="student_id" value="{{student_data.student_id}}" hidden>
                        <input type="text" name="session_id" value="{{ session_id }}" hidden>
                        <div class="col">
                          <table class="table table-borderless">
                            <tbody>
                              <tr>
                                <td> <h6 class="">
                                  Requested Course Addition
                                 
                                  
                                </h6></td>
                              </tr>
                              <tr >
                              <td align="center">
                                <div class="form-outline text-center" style="width: 150px">
                                  <input type="number" id="typeNumber"  name="additional_courses" class="form-control text-center" name="additional_courses"/>
                                 
                                </div>
                              </td>
                              

                              </tr>
                              </tbody>
                              </table>
                       
                      </div>
                    
                    
                         </div>
                        <div class="form-outline mx-5 my-4">
                          <input class="form-control" id="textAreaExample" type="text" rows="4" name="notes"></input>
                          <label class="form-label" for="textAreaExample">Notes</label>
                        </div>
                        
                        
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-success me-5"><i class="fa fa-floppy-disk" aria-hidden="true"></i></button>
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Modal -->
            </div>
          </div>

      
    

                    <!-- Modal -->
                   
    
  

                  </div>
                  </div>
                  </div>
</main>
{% endblock %}
