{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Override - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Override</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    <div class-="row px-4 text-center">
      <div class="card mb-4">
        <div class="text-center mt-4 mb-4">
          <div class="container mb-5">
            <div class="card-header">
              <i class="fas fa-chart-area me-1"></i>
              Overload History
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" class="lead">Course</th>
                  <th scope="col" class="lead">ID</th>
                  <th scope="col" class="lead">Type</th>
                  <th scope="col" class="lead">Status</th>
                  <th scope="col" class="lead">Date</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>

          <a href="add_override.html" class="btn btn-primary">
            <i class="fa fa-add" aria-hidden="true"></i>
          </a>

          <!-- Modal -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
