{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Academic Record Template - PetERP</title>
{% endblock %} {% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Sections</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Sections
      </div>
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Course</th>
              <th>Course Title</th>
              <th>Term</th>
              <th>CRN</th>
              <th>Credit</th>
              <th>No.</th>
              <th>Faculty</th>
              <th>Time</th>
              <th>Location</th>
              <th>Enrolled</th>
              <th>Capacity</th>
              <th>Class Status</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Course</th>
              <th>Course Title</th>
              <th>Term</th>
              <th>CRN</th>
              <th>Credit</th>
              <th>No.</th>
              <th>Faculty</th>
              <th>Time</th>
              <th>Location</th>
              <th>Enrolled</th>
              <th>Capacity</th>
              <th>Class Status</th>
            </tr>
          </tfoot>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
