{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Registration - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Registration</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    
      
      
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            Registration
          </div>
          <div class="card-body overflow-auto">
            <script> 
              function SomeDeleteRowFunction(td) {
               // event.target will be the input element.
              var td = event.target.parentNode; 
              var tr = td.parentNode; // the row to be removed
              tr.parentNode.removeChild(tr);
              }
            </script>
            <table class="table table-hover table-striped table-bordered" >
              <thead>
                <tr>
                          <th><i class="fa fa-trash" aria-hidden="true"></i></th>
                          <th>Course</th>
                          <th>Course Title</th>
                          <th>Term</th>
                          <th>CRN</th>
                          <th>Credit</th>
                          <th>No.</th>
                          <th>Faculty</th>
                          <th>Time</th>
          
                          <th>Enrolled</th>
                          <th>Capacity</th>
                         
                </tr>
              </thead>
              <tbody>
                <tr>
                          <td><input type="button" class="fa fa-trash" onclick="SomeDeleteRowFunction()"></td>
                          <td>Course</td>
                          <td>Course Title</td>
                          <td>Term</td>
                          <td>CRN</td>
                          <td>Credit</td>
                          <td>No.</td>
                          <td>Faculty</td>
                          <td>Time</td>
          
                          <td>Enrolled</td>
                          <td>Capacity</td>
                        </tr> 
              </tbody>
            </table>
            </div>
        </div>
        <div class="text-center mb-4">
          <div class="modal-container container text-center m-3">
            <button type="button" class="btn btn-primary me-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-add"></i>
            </button>
        
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Sections</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
            
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="card-body">
            
            
                      <table id="datatablesSimple">
                          <thead>
                              <tr>
                                  <th>Course</th>
                                  <th>Course Title</th>
                                  <th>Term</th>
                                  <th>CRN</th>
                                  <th>Credit</th>
                                  <th>No.</th>
                                  <th>Faculty</th>
                                  <th>Time</th>
                                  <th>Location</th>
                                  <th>Enrolled</th>
                                  <th>Capacity</th>
                                  <th>Class Status</th>
                              </tr>
                          </thead>
                          <tfoot>
                            <tr>
                                <th>Course</th>
                                  <th>Course Title</th>
                                  <th>Term</th>
                                  <th>CRN</th>
                                  <th>Credit</th>
                                  <th>No.</th>
                                  <th>Faculty</th>
                                  <th>Time</th>
                                  <th>Location</th>
                                  <th>Enrolled</th>
                                  <th>Capacity</th>
                                  <th>Class Status</th>
                          </tr>
                          </tfoot>
                          <tbody>
                             
                          </tbody>
                      </table>
                  </div>
                  </div>
            
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
      <button type="button" class="btn btn-success me-5"><i class="fa-solid fa-floppy-disk"></i></button>
      <button type="button" class="btn btn-danger "><i class="fa fa-times" aria-hidden="true"></i></button>

                    <!-- Modal -->
                   
    
  

    
    
</main>
{% endblock %}
