{% extends 'student_view/layout.html' %} {% load static %} {% block title %}
<title>Registration - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Registration</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    <div class="row">
      
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            Registration
          </div>
          <div class="card-body overflow-auto">
            <script>
              function SomeDeleteRowFunction() {
               // event.target will be the input element.
              var td = event.target.parentNode; 
              var tr = td.parentNode; // the row to be removed
              tr.parentNode.removeChild(tr);
              }
            </script>
            <table class="table table-hover table-striped table-bordered" >
              <thead>
                <tr>
                          <th><i class="fa fa-trash" aria-hidden="true"></i></th>
                          <th>Course</th>
                          <th>Course Title</th>
                          <th>Term</th>
                          <th>CRN</th>
                          <th>Credit</th>
                          <th>No.</th>
                          <th>Faculty</th>
                          <th>Time</th>
          
                          <th>Enrolled</th>
                          <th>Capacity</th>
                         
                </tr>
              </thead>
              <tbody>
                <tr>
                          <td><input type="button" class="fa fa-trash" onclick="SomeDeleteRowFunction()"></td>
                          <td>Course</td>
                          <td>Course Title</td>
                          <td>Term</td>
                          <td>CRN</td>
                          <td>Credit</td>
                          <td>No.</td>
                          <td>Faculty</td>
                          <td>Time</td>
          
                          <td>Enrolled</td>
                          <td>Capacity</td>
                        </tr> 
              </tbody>
            </table>
            </div>
        </div>
        <div class="text-center mb-4">
          
          <button type="button" class="btn btn-primary me-5" 
          data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-plus" aria-hidden="true"></i>
        </button>
          <button type="button" class="btn btn-success me-5"><i class="fa-solid fa-floppy-disk"></i></button>
          <button type="button" class="btn btn-danger "><i class="fa fa-times" aria-hidden="true"></i></button>
          <div class="modal fade" id="exampleModalLong" tabindex="-1" 
          role="dialog" aria-hidden="true" aria-labelledby="exampleModalLongTitle">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        ...
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
      </div>

                    <!-- Modal -->
                   
    </div>
  </div>
  

    
    
</main>
{% endblock %}
