{% extends 'registrar_view/layout.html' %} {% load static %} {% block title %}
<title>Assign Faculty - PetERP</title>
{% endblock %} {% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Assign Faculty</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fa fa-calendar me-1"></i>
        Assign Faculty to Sections
      </div>
      <div class="card-body"> 
        <table id="datatablesSimple" class="table table">
          <thead>
            <tr class="text-center">
              <th scope="col">Term</th>
              <th scope="col">Course ID</th>
              <th scope="col">Course</th>
              <th scope="col">Time</th>
              <th scope="col">Location</th>
              <th scope="col">Section No</th>
              <th scope="col">Section ID</th>
              <th scope="col">Faculty</th>
              
              <th scope="col">Change Faculty</th>
            </tr>
          </thead>
          <tbody>
            {% for section in sections %}
            

            <tr class="text-center">
              <td>{{section.session.semester}} {{section.session.year}}</td>
              <td>{{section.courses.course_code}}</td>
              <td>{{ section.courses.title }}</td>
              <td>
              {{section.section_times.class_dates_abbrev.abbrev}}
              {{section.section_times.class_times.str_rep }}
            </td>
            <td>{{section.location}}</td>
            <td>{{section.section_number}}</td>
            <td>{{section.section_id}}</td>
            {% for fac in section.faculty_assignment%}
            <td>{{fac.faculty.f_name}} {{fac.faculty.l_name}}</td>
            {% empty %}
            <td>None</td>
            {% endfor %}
              <td>
                <div class="modal-container container text-center">
                  <span class="btn btn-primary" type="button" data-bs-toggle="modal"
                    data-bs-target="#gradeModal-{{ section.section_id }}">
                    <span class="">Change Faculty</span>
                  </span>
                  <!-- Modal -->
                  <div class="modal fade" id="gradeModal-{{ section.section_id }}" tabindex="-1"
                    aria-labelledby="gradeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="gradeModalLabel">Faculty for Section {{section.section_id}}: {{ section.courses.course_code }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <table id="datatablesSimple">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Assign</th>
                                
                              </tr>
                            </thead>
                  
                            <tbody>
                              {% for f in faculty %}
                              <tr>
                                <td>{{f.f_name}} {% if f.m_name%} {{f.m_name}}{%else%} {%endif%} {{f.f_name}}</td>
                                <td>{{ f.department }}</td>
                                <td><a href="{% url 'registrar:assign' section.section_id f.faculty_id %}"><button class="btn btn-primary">Assign</button></a></td>
                              </tr>
                              {%empty%}
                              <tr>
                                <td colspan="5" class="text-muted text-center">No faculty on record</td>
                              </tr>
                              {% endfor %}
                              
                            </tbody>
                          </table>
                          <hr class="divider" />
                        </div>
                      </div>
                    </div>
                  </div>

              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock %}