{% extends 'registrar_view/layout.html' %} {% load static %} {% block title %}
<title>Override - PetERP</title>
{% endblock %} {% block body %}<main style="background-color: rgba(0, 0, 0, 0.03)">
  <main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Create Session</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Session</li>
    </ol>

    <div class-="row px-4 text-center">
      <div class="card-header">
        <i class="fa-solid fa-school me-1"></i>
        Create Session
      </div>
      <div class="card mb-4">
        <div class="tex mt-4 mb-4">
          <div class="container mb-5">
            <form>
              <div class="form-group">
                <label for="formGroupExampleInput">Semester</label>

                <select class="form-select" name="semester" id="semester">
                  <option value="fall">Fall</option>
                  <option value="spring">Spring</option>
                  <option value="intersessional">Intersessional</option>
                </select>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Year</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Year">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Status</label>

                <select class="form-select" name="status" id="status">
                  <option value="closed">Closed</option>
                  <option value="active">Active</option>
                  
                </select>
              </div>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">State</label>
                <select class="form-select" name="states" id="state">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  
                </select>
              </div>
            
              <button type="submit" class="btn btn-primary">Create</button>
              <a href="hold.html"
                >
            </form>
          </div>

       

          <!-- Modal -->
        </div>
      </div>
    </div>
  
</main>
{% endblock %}
