{% extends 'registrar_view/layout.html' %} {% load static %} {% block title %}
<title>Faculty Information - PetERP</title>
{% endblock %} {% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Faculty Information</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Information</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fa fa-calendar me-1"></i>
        View Faculty Records
      </div>
      <div class="card-body">
        <table class="table table-hover" id="datatablesSimple">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">StaffNo</th>
              <th scope="col">Department</th>
              <th scope="col">Email-Address</th>
            </tr>
          </thead>
          <tbody>
            {% for f in faculty %}

            <tr
              class="clickable-row"
              data-href="{% url 'registrar:faculty_profile' f.faculty_id %}"
            >
              <!--link to the semester records-->
              <td>{{ f.f_name }} {{ f.l_name }}</td>
              <td>{{ f.faculty_id }}</td>
              <td>{{ f.department }}</td>
              <td>{{ f.email }}</td>
            </tr>

            {% empty %}
            <tr>
              <td colspan="9" class="text-muted">
                No Faculty Currently in Record
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
