{% extends 'registrar_view/layout.html' %} {% load static %} {% block title %}
<title>Override - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Hold exceptions</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Holds</li>
    </ol>

    <div class-="row px-4 text-center">
      <div class="card-header">
        <i class="fa-solid fa-school me-1"></i>
        Hold exceptions
      </div>
      <div class="card mb-4">
        <div class="tex mt-4 mb-4">
          <div class="container mb-5">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" class="">Hold name</th>
                  <th scope="col" class="">User ID</th>
                  <th scope="col" class="">Duration</th>
                  <th scope="col" class="">Date Created</th>
                </tr>
              </thead>
              <tbody>
                {% for exception in hold_exceptions %}
                <tr>
                  <th scope="col" class="">{{exception.role_holds.hold_name}}</th>
                  <th scope="col" class="">{{exception.user_id}}</th>
                  <th scope="col" class="">{{exception.duration}} hours</th>
                  <th scope="col" class="">{{exception.date_created}}</th>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4" scope="col" class="text-center text-muted">
                    No hold exceptions on record
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="text-center container">
            <a href="{% url 'registrar:new_hold_exception' %}" class="btn btn-primary">
              <i class="fa fa-add" aria-hidden="true"></i>
            </a>
          </div>

          <!-- Modal -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
