{% extends 'registrar_view/layout.html' %}
{% load static %} 

{% block title %}
<title>Hold - PetERP</title>
{% endblock %} 


{% block body %}

<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    {% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="alert text-center m-3 alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h1 class="mt-4">Holds</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Hold</li>
    </ol>




    <div class="card mb-4">
      <div class="card-header">
        <i class="	fas fa-archive me-1"></i>
        Holds
      </div>
      <div class="card-body overflow-auto">
        <table class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              
              <th>Hold ID</th>
              <th>Hold Name</th>
              <th>Restricted Operation</th>
              <th>Restricted Table or View</th>
              <th>Active</th>
              <th class="text-center">#</th>

            </tr>
          </thead>
          <tbody>
            {% for hold in holds %}
            <tr>
             
              <td class="text-primary">{{ hold.hold_id }}</td>
              <td class="text-primary"><a href="{% url 'registrar:hold_members' hold.hold_id %}">{{ hold.hold_name }}</a></td>
              <td class="text-primary">{{ hold.restricted_operation }}</td>
              <td class="text-primary">{{ hold.restricted_table_or_view }}</td>
              {% if hold.active %}
              <td class="text-center">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="active"
                    id="active"
                    checked
                    disabled
                  />
                </div>
              </td>
              {% else %}
              <td class="text-center">
                <div class="form-check">
                  <input
                    type="checkbox"
                    name="active"
                    class="form-check-input"
                    id="active"
                    disabled
                  />
                </div>
              </td>
              {% endif %}
              <td>
                <div class="modal-container container text-center">
                  <span type="button" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ course.section_id }}">
                    <span class="fa-solid fa-trash"></span>
                  </span>
                  <!-- Modal -->
                  <div class="modal fade" id="deleteModal-{{ course.section_id }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this hold?
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a href="{% url 'registrar:delete_hold' hold.hold_id %}"><button type="submit"
                              class="btn btn-danger">Delete</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
              </td>
              
            </tr>
            {% empty %}
            <tr>
              <td class="text-muted text-center" colspan="9">No holds</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'registrar:new_hold' %}"><button class="btn btn-primary mx">Create</button></a>

      </div>
  </div>
   


</main>

{% endblock %}
