{% extends 'registrar_view/layout.html' %} {% load static %} {% block title %}
<title>Home - PetERP</title>
{% endblock %} {% block body %}
<main style="background-color: rgba(0, 0, 0, 0.03)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Home</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Registrar</li>
    </ol>

    <div class="row">
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fa fa-id-card me-1"></i>
            Student Major Information
          </div>
          <div class="card-body">
            <canvas id="myBarChart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fa fa-calendar me-1" aria-hidden="true"></i>
            Override and Overload Insights
          </div>
          <div class="card-body">
            <canvas id="myAreaChart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-bell me-1"></i>
            {{semester}}
          </div>
          <div class="card-body p-4">
            <h6></h6>
            <hr class="mt-0 mb-4" />
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <h6>Total Sections for {{semester}}</h6>
                <p class="text-muted">{{ student_data.major }}</p>
              </div>
              <div class="col-6 mb-3">
                <h6>Total Number of Students</h6>
                <p class="text-muted">Year {{ student_data.year }}</p>
              </div>
            </div>
            <h6></h6>
            <hr class="mt-0 mb-4" />
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <h6>Total Number of Faculty</h6>
                <p class="text-muted">{{ student_data.email }}</p>
              </div>
              <div class="col-6 mb-3">
                <h6>Total Courses Offering</h6>
                <p class="text-muted">{{ student_data.phone_number }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fa-solid fa-calendar-days me-1"></i>
            Calendar
          </div>
          <div class="card-body">
            <div class="card">
              <iframe
                src="https://embed.styledcalendar.com/#jbMUWbAiGXYCMgSjuqdz"
                title="Styled Calendar"
                class="styled-calendar-container"
                style="width: 100%; border: none"
                data-cy="calendar-embed-iframe"
              ></iframe>
              <script
                async
                type="module"
                src="https://embed.styledcalendar.com/assets/parent-window.js"
              ></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
