{% extends 'registrar_view/layout.html' %} {% load static %} {% block title %}
<title>Student Information - PetERP</title>
{% endblock %} {% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Student Information</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Information</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fa fa-calendar me-1"></i>
        View Student Records
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">ID</th>
              <th scope="col">Major</th>
              <th scope="col">Email-Address</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}

            <tr
              class="clickable-row"
              data-href="{% url 'registrar:student_profile' student.student_id %}"
            >
              <!--link to the semester records-->
              <td>
                {{ student.first_name }} {{ student.last_name }} 
              </td>
              <td>{{ student.student_id }}</td>
              <td>{{ student.major }}</td>
              <td>{{ student.email }}</td>
            </tr>

            {% empty %}
            <tr>
              <td colspan="9" class="text-muted">
                No Students
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<script>
  jQuery(document).ready(function ($) {
    $(".clickable-row").click(function () {
      window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}
