{% extends 'faculty_view/layout.html' %} {% load static %} {% block title %}
<title>Course Overview - PetERP</title>
{% endblock %} {% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Allocate Grades</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Academics</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fa fa-calendar me-1"></i>
        {{ semester_schedule.semester }} {{ semester_schedule.year }} Final Grades
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Term</th>
              <th scope="col">Name</th>
              <th scope="col">Student ID</th>
              <th scope="col">Credits</th>
              <th scope="col">Course</th>
              <th scope="col">Grade</th>
              
              <th scope="col">Change</th>
            </tr>
          </thead>
          <tbody>
            {% for course in semester_schedule.sections %}

            <tr data-href="semester_records.html">
              <!--link to the semester records-->
              <td>
                {{ semester_schedule.semester }} {{ semester_schedule.year }}
              </td>
              <td>{{ student.name }}</td>
              <td>{{ student.student_id }}</td>
              
              <td>{{ course.course.credits }}</td>
              <td>{{ course.course.course_code }}</td>
              <td>{{ course.grade }}</td>
              <td>
                <div class="modal-container container text-center">
                  <span class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#gradeModal-{{ course.section_id }}">
                    <span class="">Change</span>
                  </span>
                  <!-- Modal -->
                  <div class="modal fade" id="gradeModal-{{ course.section_id }}" tabindex="-1"
                    aria-labelledby="gradeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                         
                          
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="row mx-4">
                            <div class="col-4">
                              <button class="btn btn-primary">A</button>
                            </div>
                            <div class="col-4">
                              <button class="btn btn-primary">A-</button>
                            </div>
                            <div class="col-4">
                              <button class="btn btn-primary">B+
                              </button>
                            </div>
                            <div class="col-4">
                              <button class="btn btn-primary">B</button>
                            </div>
                            <div class="col-4">
                              <button class="btn btn-primary">B-</button>
                            </div>
                            <div class="col-4">
                              <button class="btn btn-primary">C+</button>
                              </div>
                              <div class="col">
                                <button class="btn btn-primary">C</button>
                              </div>
                              <div class="col">
                                <button class="btn btn-primary">D-</button>
                              </div>
                              <div class="col">
                                <button class="btn btn-primary">F-</button>
                              </div>

                           

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
              </td>

              {% empty %}
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock %}
